@use "../abstracts" as *;

body {
  background-color: $bg-dark;
  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr;
  
}

body::after {
  content: "Web Developer";
  position: absolute;
  display: flex;
  justify-self: center;
  align-self: center;
  width: min-content;
  max-width: 100vw;
  max-height: 100vh;
  color: $bg-text-color;
  font-size: 18rem;
  font-weight: 700;
  line-height: normal;
  z-index: -200;
  overflow: hidden;

  @include respond(xl) {
    font-size: 23rem;
  }
}

hr {
  background-color: $bg-hr;
  height: $h-hr;
  width: 100%;
}

.hr--xl {
  height: $h-xl-hr;
}
