@use "../abstracts" as *;

html {
  font-size: 62.5%;
  background-color: $bg-dark;

  @include respond(lg) {
    font-size: 58%;
  }

  @include respond(md) {
    font-size: 50%;
  }

  @include respond(sm) {
    font-size: 40%;
  }

  @include respond(xl) {
    font-size: 75%;
  }
}
body {
  overflow: hidden;
  
}

body::after {
  content: "Web Developper";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  color: $bg-text-color;
  font-size: 20rem;
  font-weight: 700;
  line-height: normal;
  z-index: -200;
  overflow: hidden;

  @include respond(xl) {
    font-size: 25rem;
  }
}

hr {
  background-color: $bg-hr;
  height: $h-hr;
  width: 100%;
}

.hr--xl {
  height: $h-xl-hr;
}
