@use "../abstracts" as *;

.u-mb {
  margin-bottom: 2rem !important;
}
.u-mb-xl {
  margin-bottom: 3.5rem !important;
}
.u-mb-xxl {
  margin-bottom: 5rem !important;
}
.u-mt {
  margin-top: 2rem !important;
}
.u-mt-xl {
  margin-top: 3.5rem !important;
}
.u-mt-xxl {
  margin-top: 5rem !important;
}

.display-none {
  display: none !important;
}

.fade {
  opacity: 0.6;
}

.text-align {
  &--end {
    text-align: end;
  }
}

.position-relative {
  position: relative;
}

.circle {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1rem solid;

  &--red {
    border-color: $clr-primary;
  }
}



.clr--primary {
  color: $clr-primary;
}
.bg--white {
  background-color: $clr-white;
}

//padding container
.p-2-3 {
  padding: 2rem 3rem;
}

.hr-w-80 {
  width: 80%;
}
