@use "../abstracts" as *;

//Container
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, $my);
}

.flow--space-sm {
  --flow-space: 0.75rem;
}
.flow--space-xl {
  --flow-space: 2rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 128rem;
}

/************/
/*  -START- */
/*  Margin  */
/************/

//margin-left
.ml {
  margin-left: $mx;
}

.ml-sm {
  margin-left: $mx-sm;
}

.ml-xl {
  margin-left: $mx-xl;
}

//margin-right
.mr {
  margin-right: $mx;
}

.mr-sm {
  margin-right: $mx-sm;
}

.mr-xl {
  margin-right: $mx-xl;
}

//margin-top
.mt {
  margin-top: $my;
}

.mt-sm {
  margin-top: $my-sm;
}

.mt-xl {
  margin-top: $my-xl;
}

//margin-bottom
.mb {
  margin-bottom: $my;
}

.mb-sm {
  margin-bottom: $my-sm;
}

.mb-xl {
  margin-bottom: $my-xl;
}

/************/
/*  Margin  */
/*  -END-   */
/************/

/************/
/*  -START- */
/*  Padding  */
/************/

//padding-left
.pl {
  padding-left: $mx;
}

.pl-sm {
  padding-left: $mx-sm;
}

.pl-xl {
  padding-left: $mx-xl;
}

//padding-right
.pr {
  padding-right: $mx;
}

.pr-sm {
  padding-right: $mx-sm;
}

.pr-xl {
  padding-right: $mx-xl;
}

//padding-top
.pt {
  padding-top: $my;
}

.pt-sm {
  padding-top: $my-sm;
}

.pt-xl {
  padding-top: $my-xl;
}

//margin-bottom
.pb {
  padding-bottom: $my;
}

.pb-sm {
  padding-bottom: $my-sm;
}

.pb-xl {
  padding-bottom: $my-xl;
}

/************/
/*  Padding  */
/*  -END-   */
/************/

.display-none {
  display: none !important;
}

.fade {
  opacity: 0.6;
}

.text-align {
  &--end {
    text-align: end;
  }
}

.position-relative {
  position: relative;
}

.circle {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1rem solid;

  &--red {
    border-color: $clr-primary;
  }
}

.clr--primary {
  color: $clr-primary;
}
.bg--white {
  background-color: $clr-white;
}

.hr-w-80 {
  width: 80%;
}

.d-none {
  display: none;
}

.clr--primary {
  color: $clr-primary;
}

.fd--column {
  flex-direction: column;
}

.underline-indicators > * {
  border: 0;
  border-right: 1rem solid rgba($clr-primary, 0);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: rgba($clr-primary, 0.5);
}

.underline-indicators > .active {
  border-color: rgba($clr-primary, 1);
}


