@use "../../../scss/abstracts" as *;

.about {
  min-height: 100%;
  grid-template-columns: minmax(min-content, 1.75fr) minmax(min-content, 1fr);
  grid-template-rows:
    minmax(min-content, 1fr) minmax(min-content, 20vh)
    minmax(min-content, 1fr);

  @include media-down(sm) {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows:
    repeat(2, minmax(min-content, 10vh)) repeat(2, minmax(min-content, 1fr));
    justify-content: center;
    align-items: center;
  }

  .desc {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-down(sm) {
        grid-column: 1/-1;
        grid-row: 3/4;
      }
  }

  .heading {
    &-hello {
      display: flex;
      grid-column: 2/-1;
      grid-row: 1/2;
      align-items: flex-end;

      @include media-down(sm) {
        grid-column: 1/-1;
            align-self: end;
        
      }
    }

    &-im {
      display: flex;
      grid-column: 2/-1;
      grid-row: 2/3;
      align-items: center;
      @include media-down(sm) {
        grid-column: 1/-1;
        grid-row: 2/3;
            align-self: end;
      }
    }
  }

  .btn-container {
    grid-column: 2/-1;
    

    @include media-down(sm) {
        grid-column: 1/-1;
        justify-self: center;
        align-self: flex-start;
      }
  }
}
