

.grid {
  display: grid;
  grid-template-columns: minmax(min-content, 10vw) minmax(min-content, 1fr);
  grid-template-rows: minmax(min-content, 10vw) minmax(min-content, calc(100vh - 10vw));
}
.navBar {
  grid-column: 1/2;
  grid-row: 1/3;
}
main {
  grid-column: 2/-1;
  grid-row: 2/3;
  padding: 2rem 3rem;
}
