@use "../scss/abstracts" as *;

.grid {
  display: grid;
  grid-template-columns: minmax(min-content, 10vw) minmax(min-content, 1fr);
  grid-template-rows: minmax(min-content, 10vw) minmax(
      min-content,
      calc(100vh - 10vw)
    );
  transform: translateX(-30vw);
  transition: all 0.7s ease-in;

  &:not(.active) {
    transform: translateX(0);
  }
}

.toggle {
  grid-column: 2/3;
  grid-row: 1/2;
}

.navBar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  
  @include respond(sm){
    display: none;
  }
}

main {
  grid-column: 2/3;
  grid-row: 2/3;
}
