@use "../../../scss/abstracts" as *;

.btn {
  &,
  &:link,
  &:visited {
    text-transform: capitalize;
    text-decoration: none;
    padding: var(--btn-px, 1.5rem) var(--btn-py, 4rem);
    display: inline-block;
    border-radius: $btn-border-radius;
    position: relative;
    
    width: fit-content;
    height: fit-content;
    opacity: 0.9;
    transition: all 0.2s;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &__icon {
    padding: 0;
  }

  &:hover:not(.btn__icon) {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($clr-primary, 0.2);
  }

  &:active:not(.btn__icon),
  &:visited {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba($clr-primary, 0.2);
    transform: translateY(1px);
  }

  &--primary {
    background-color: $clr-primary;
    color: $clr-white;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $clr-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $clr-primary;
    padding: 0 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $clr-primary;
    color: $clr-white;
    box-shadow: 0 1rem 2rem rgba($clr-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($clr-black, 0.15);
    transform: translateY(0);
  }
}

.btn-close {
  display: inline-block;
  position: relative;
  background-color: $clr-black;
  width: 3.5rem;
  height: 1rem;
  transform: rotate(45deg);

  &::after {
    content: "";
    position: absolute;
    background-color: $clr-black;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    transform: rotate(270deg);
  }
}
