@use "../../../scss/abstracts/" as *;

.sb-logo {
  border-radius: 50%;
  padding: 0.5rem;
  width: 10rem;
  height: 10rem;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 56%;
    overflow: visible;
    stroke: #fff;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
}
