@use "../../../scss/abstracts" as *;

.nav {
  
  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 1.5rem;
    width: 100%;
    font-weight: 600;
    position: relative;

    

    &--vertical {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
  }

  &__item:hover,
  &__item:focus,
  &__item.active {
    color: $clr-primary;
  }
  
}
