.sideBar {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: minmax(min-content, 10vw) minmax(min-content, 1fr);
  color: black;
  background-color: white;
  z-index: 1000;

  .btn {
    justify-self: end;
    align-self: center;
    &__icon > svg {
      font-size: 3rem;
    }
  }
}
