@use "../../../scss/abstracts" as *;

.sideBar {
  --flow-space: $my-xl;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: 15vh 1fr;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  color: black;
  background-color: white;
  z-index: 1000;
  transform: translateX(100%);
   transition: 0.4s;

  &.show {
    width: 30vw;
    transform: translateX(0);
    transition: 0.4s;
    
  }

  @include respond(sm) {
    &.show {
      width: 80%;
    }
  }

  .btn {
    justify-self: end;
    align-self: center;
    &__icon > svg {
      font-size: 3rem;
    }
  }
}
