@use "../../../scss/abstracts" as *;

.sideBar {
  display: grid;
  grid-template-columns: minmax(min-content, 30vw);
  grid-template-rows: 15vh 85vh;
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  background-color: white;
  height: 100%;
  z-index: 1000;
  transform: translateX(100%);

  // &:not(.active){
  //   display: none;
  // }

  @include respond(sm) {
    grid-template-columns: 80vw;
  }

  .btn {
    justify-self: end;
    align-self: center;
    &__icon > svg {
      font-size: 3rem;
    }
  }
}
